Flask
Flask-WTF
Flask-Login
Flask-Session-Captcha
Flask-Argon2
Flask-Session
PyMySQL
WTForms
Flask-Cors
httpagentparser
Flask-Session-Captcha
Flask-Argon2
Flask-Session
PyMySQL
werkzeug
ultralyticsplus
tensorflow
numpy
pandas
jiwer
wraps
padlepaddle
paddleocr
opencv-python
Pillow
IPython
waitress